// Colors
$dark: hsl(330, 16.67%, 4.71%); //#0e0a0c99
$white: hsl(0, 0%, 100%); //#fff
$primary: hsl(25.38, 100%, 49.61%); //#fd6b00
$secondary: hsl(258.92, 100%, 78.24%); //#b390ff
$success: hsl(144.83, 97.13%, 40.98%); // #03ce57
$sky: hsl(204.83, 97.13%, 59.02%); // #31a8fc
$danger: hsl(324.83, 97.13%, 59.02%); // #fc31a8

// Media-queries breakpoints
$bp-xxs: 300px;
$bp-xs: 400px;
$bp-s: 650px;
$bp-m: 760px;
$bp-l: 1024px;
$bp-xl: 1400px;

// Fonts
$font-xxs: 12px;
$font-xs: 14px;
$font-s: 16px;
$font-m: 20px;
$font-l: 28px;
$font-xl: 36px;
$font-xxl: 52px;
$font-xxxl: 104px;

// Spacing
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 28px;
$space-xl: 36px;
$space-xxl: 52px;
$space-xxxl: 84px;
$bigger-space: 140px;

// Radius
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-s: 8px;
$radius-m: 16px;
$radius-l: 28px;
$radius-xl: 36px;
