@import './global/variables';
@import './global/mixins';
@import './global/functions';

// GLOBAL STYLING
body {
    margin: 0;
    padding: 0;
    background-color: $dark;
    color: $white;
    scrollbar-width: thin;
    scrollbar-color: $dark $primary;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    box-sizing: border-box;
    padding: $space-xxl $space-m;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: flex-start;
}

.vertical-display {
    display: flex;
    flex-direction: column;
}

.horizontal-display {
    display: flex;
    gap: $space-xxl;
}

div,
p,
a,
input,
textarea,
label {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: $font-m;
}

// Titles
h1,
h2,
h3,
h4,
h5,
h6,
.subtitle {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $white;
}

h2 {
    padding-bottom: $space-xl;
}

h3,
h4 {
    padding-bottom: $space-s;
}

h1 {
    letter-spacing: $space-s;
    font-size: $font-xxl;
    text-transform: lowercase;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    width: fit-content;
}

.subtitle {
    font-size: $font-m;
}

// Text colors
.colored-primary {
    color: $primary;
}

.colored-secondary {
    color: $secondary;
}

.colored-linear-primary {
    background: linear-gradient(270deg, color($primary, 50) 3.94%, color($primary, 80) 90.72%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: -1px;
}

.colored-linear-secondary {
    background: linear-gradient(270deg, color($secondary, 40) 3.94%, color($secondary, 70) 90.72%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: -1px;
}

// Icons colors
.icon-colored-white {
    color: $white;
}
.icon-colored-dark {
    color: $dark;
}
.icon-colored-grey {
    color: color($white, 20);
}
.icon-colored-primary {
    color: $primary;
}
.icon-colored-secondary {
    color: $secondary;
}
.icon-colored-success {
    color: $success;
}
.icon-colored-sky {
    color: $sky;
}
.icon-colored-danger {
    color: $danger;
}

// Lists
ul {
    margin: 0;
    padding: $space-s 0;
    list-style-type: none;
}

// Links
a {
    color: color($white, 35);
    font-weight: 600;
    text-decoration: none;
    padding: $space-xs $space-m $space-xs 0;
    height: fit-content;
    @include classicTransition;
    &:hover {
        color: $white;
        border-bottom: 4px solid $white;
    }
}

// Buttons
.button-icon {
    padding-top: $space-xs;
}

// Form box
form {
    box-sizing: border-box;
    padding: $space-m;
    display: flex;
    flex-direction: column;
    gap: $space-l;
    background-color: color($dark, 55);
    border: 2px solid color($white, 10);
    border-radius: $radius-xs;

    > h3 {
        padding-bottom: $space-s;
    }

    @media (max-width: $bp-xs) {
        width: 100%;
    }
}
// Form items global style
.input-container {
    box-sizing: border-box;
    display: flex;
    border: 1px solid color($white, 20);
    border-radius: $radius-xs;
    position: relative;
    width: fit-content;
    > label {
        text-transform: capitalize;
        position: absolute;
        top: $space-s;
        left: $space-m;
        transition: all 200ms ease-in;
    }
    > input,
    textarea {
        padding: $space-s $space-m;
        background-color: transparent;
        font-weight: 600;
        border: transparent;
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        @media (max-width: $bp-xs) {
            width: auto;
            min-width: initial;
            max-width: initial;
        }
        &:focus {
            color: $white;
            + label {
                transform: translate(-$space-m, -$space-l);
                font-size: $font-xs;
                font-weight: 200;
            }
        }
    }
    > textarea {
        min-height: $space-xxxl;
    }
    &.has-value {
        > input,
        > textarea {
            color: $white;
        }
        > label,
        > input:focus + label {
            transform: translate(-$space-m, -$space-l);
            font-size: $font-xs;
            font-weight: 200;
        }
    }
}

// PAGE TRANSITIONS
.fade-enter-active,
.fade-leave-active {
    @include pageTransition();
}

.fade-enter-from,
.fade-leave-to {
    transform-origin: center;
    background: $primary;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(-360deg);
    opacity: 0;
}
